* {
    margin: 0px;
}
body {
    background-color: aqua;
}

.globalContainer {
    background-color: rgb(158, 190, 245);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 75px 515px;
    grid-template-areas: 
        "header header"
        "main main";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}
